In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import glob
import os

In [6]:
#define year range
year = [year for year in range(1970, 2023)]
#Set the path to the data directory
csv_file_path = f'../NFL_Stats/data/{year}/team/special-teams/kickoff-returns.csv'

csv_file_path

'../NFL_Stats/data/[1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]/team/special-teams/kickoff-returns.csv'

In [7]:
#For each year read the csv into a dataframe and append to a list
dfs = []
for year in year:
	file_path = f'../NFL_Stats/data/{year}/team/special-teams/kickoff-returns.csv'
	if os.path.exists(file_path):
		df = pd.read_csv(file_path)
		df['Year'] = year
		dfs.append(df)

In [8]:
#Show the dataframes
dfs[1].head() # Show the first dataframe

       Team   Avg  Ret   Yds  KRet TD  20+  40+   Lng  FC  FUM  Year
0   Cowboys  27.5   50  1376        2    0    0  101T   0    0  1971
1   Packers  26.7   58  1546        1    0    0   90T   0    0  1971
2  Dolphins  25.2   32   806        1    0    0   94T   0    0  1971
3   Falcons  25.0   59  1477        0    0    0    82   0    0  1971
4      Rams  24.5   54  1322        1    0    0  105T   0    0  1971

In [5]:
#Merge the dataframes into one
kickoff_returns = pd.concat(dfs, ignore_index=True)

#Show the dataframe
kickoff_returns

ValueError: No objects to concatenate

In [129]:
#Save the dataframe to a csv file
kickoff_returns.to_csv('NFL_Stats/data/kickoff_returns_merged.csv', index=False)